<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{pageTitle}}</title>
  <meta name="description" content="{{metaDescription}}" />
  <link rel="stylesheet" href="{{assetPrefix}}/css/styles.css" />
</head>
<body>
  <header>
    <nav>
        <div class="logo"><a href="{{basePath}}/">xavier hillman</a></div>
        <ul>
            <li><a href="{{basePath}}/">home</a></li>
            <li><a href="{{basePath}}/blog/">blog</a></li>
            <li><a href="{{basePath}}/projects/">projects</a></li>
            <li><a href="{{basePath}}/about/">about</a></li>
        </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <footer>
    <p>© 2025 Xavier Hillman</p>
  </footer>
</body>
</html>