<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <nav>
        <div class="logo"><a href="/">xavier hillman</a></div>
        <ul>
            <li>home</li>
            <li>blog</li>
            <li>projects</li>
            <li>about</li>
        </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <footer>
    <p>© 2025 Xavier Hillman</p>
  </footer>
</body>
</html>